Repository PHP-CS-Fixer/PHP-CS-Fixer, pull requests merged in 2024-03, with the labels that each got.

#7875 fix: Correctly indent multiline constants and properties
  src/Fixer/Whitespace/StatementIndentationFixer.php
  tests/Fixer/Whitespace/StatementIndentationFixerTest.php
Labels: kind/bug

#7843 fix: `TypeExpression` - fix "JIT stack limit exhausted" error
  src/DocBlock/TypeExpression.php
  tests/DocBlock/TypeExpressionTest.php
Labels: kind/bug

#7874 test: Introduce Infection for mutation tests
  .github/workflows/ci.yml
  .gitignore
  composer.json
  infection.json5.dist
  tests/Tokenizer/TokensTest.php
Labels: topic/tests, topic/ci

#7905 chore: Use `list` over `array` in more places
  src/Config.php
  src/ConfigInterface.php
  src/Fixer/ClassNotation/OrderedInterfacesFixer.php
  src/Fixer/ClassNotation/SingleClassElementPerStatementFixer.php
  src/Fixer/ControlStructure/SwitchContinueToBreakFixer.php
  src/Fixer/Import/OrderedImportsFixer.php
  src/Fixer/Phpdoc/PhpdocAlignFixer.php
  src/Fixer/Phpdoc/PhpdocAnnotationWithoutDotFixer.php
  src/Fixer/Phpdoc/PhpdocToCommentFixer.php
  src/Fixer/Phpdoc/PhpdocTypesFixer.php
  src/Fixer/Phpdoc/PhpdocVarWithoutNameFixer.php
  src/FixerFactory.php
  src/Utils.php
  src/WordMatcher.php
  tests/AbstractFunctionReferenceFixerTest.php
  tests/AbstractProxyFixerTest.php
  tests/AutoReview/FixerFactoryTest.php
  tests/AutoReview/ProjectCodeTest.php
  tests/Console/ConfigurationResolverTest.php
  tests/DocBlock/AnnotationTest.php
  tests/DocBlock/LineTest.php
  tests/DocBlock/TagComparatorTest.php
  tests/DocBlock/TypeExpressionTest.php
  tests/Doctrine/Annotation/TokenTest.php
  tests/Fixer/Alias/NoAliasFunctionsFixerTest.php
  tests/Fixer/FunctionNotation/NativeFunctionInvocationFixerTest.php
  tests/Fixer/Import/OrderedImportsFixerTest.php
  tests/Fixer/LanguageConstruct/SingleSpaceAroundConstructFixerTest.php
  tests/Fixer/Whitespace/BlankLineBeforeStatementFixerTest.php
  tests/PregTest.php
  tests/RuleSet/RuleSetTest.php
  tests/RuleSet/RuleSetsTest.php
  tests/Smoke/CiIntegrationTest.php
  tests/Smoke/InstallViaComposerTest.php
  tests/Test/AbstractIntegrationTestCase.php
  tests/Tokenizer/Analyzer/AlternativeSyntaxAnalyzerTest.php
  tests/Tokenizer/Analyzer/FunctionsAnalyzerTest.php
  tests/Tokenizer/Analyzer/GotoLabelAnalyzerTest.php
  tests/Tokenizer/Analyzer/NamespaceUsesAnalyzerTest.php
  tests/Tokenizer/TokensTest.php
  tests/Tokenizer/Transformer/NameQualifiedTransformerTest.php
  tests/WordMatcherTest.php
Labels: kind/refactoring, topic/phpdoc
