Repository PHP-CS-Fixer/PHP-CS-Fixer, pull requests merged in 2024-07, with the labels that each got.

#8105 chore: PhpUnitSizeClassFixerTest - solve PHP 8.4 issues
  tests/Fixer/PhpUnit/PhpUnitSizeClassFixerTest.php
Labels: topic/PHP8.4

#8107 DX: Dump `offsetAccess.notFound` errors to baseline
  dev-tools/phpstan/baseline.php
  phpstan.dist.neon
Labels: topic/ci

#8112 fix: update `TokensTest` to shrink PHPStan's baseline
  dev-tools/phpstan/baseline.php
  tests/Tokenizer/TokensTest.php
Labels: topic/ci

#8111 fix: `NullableTypeDeclarationFixer` - don't convert standalone `NULL` into nullable union type
  src/Fixer/LanguageConstruct/NullableTypeDeclarationFixer.php
  tests/Fixer/LanguageConstruct/NullableTypeDeclarationFixerTest.php
Labels: kind/bug

#8118 fix: `NullableTypeDeclarationFixer` - insert correct token
  src/Fixer/LanguageConstruct/NullableTypeDeclarationFixer.php
  tests/Fixer/LanguageConstruct/NullableTypeDeclarationFixerTest.php
Labels: kind/bug

#8119 chore: reuse test methods
  tests/Tokenizer/Analyzer/Analysis/TypeAnalysisTest.php
  tests/Tokenizer/Analyzer/ArgumentsAnalyzerTest.php
  tests/Tokenizer/Analyzer/AttributeAnalyzerTest.php
  tests/Tokenizer/Analyzer/CommentsAnalyzerTest.php
  tests/Tokenizer/Analyzer/FunctionsAnalyzerTest.php
  tests/Tokenizer/Analyzer/GotoLabelAnalyzerTest.php
Labels: kind/cleanup, topic/tests

#8122 chore: cleanup tests that had required PHP 7.4 ages ago
  phpstan.dist.neon
  tests/Fixer/ControlStructure/YodaStyleFixerTest.php
  tests/Fixer/Operator/BinaryOperatorSpacesFixerTest.php
  tests/Tokenizer/TokensAnalyzerTest.php
Labels: topic/tests

#8123 chore: cleanup `TokensAnalyzerTest`
  tests/Tokenizer/TokensAnalyzerTest.php
Labels: topic/tests

#8121 CI: check autoload
  .github/workflows/sca.yml
  composer.json
Labels: topic/ci

#8124 DX: check for duplicated test methods
  .github/workflows/sca.yml
  composer.json
  dev-tools/check_duplicate_test_methods.php
  tests/Linter/ProcessLinterProcessBuilderTest.php
  tests/Tokenizer/Analyzer/Analysis/ArgumentAnalysisTest.php
Labels: topic/tests

#8131 DX: check for duplicated test data
  tests/AutoReview/ProjectCodeTest.php
  tests/Fixer/Basic/BracesFixerTest.php
  tests/Fixer/ControlStructure/NoUselessElseFixerTest.php
  tests/Fixer/LanguageConstruct/IsNullFixerTest.php
  tests/Fixer/Operator/TernaryToNullCoalescingFixerTest.php
  tests/Fixer/Phpdoc/PhpdocSeparationFixerTest.php
  tests/Fixer/StringNotation/NoBinaryStringFixerTest.php
  tests/Tokenizer/Transformer/BraceClassInstantiationTransformerTest.php
Labels: topic/tests

#8135 DX: do not exclude duplicates that are clearly mistakes
  tests/AutoReview/ProjectCodeTest.php
  tests/Fixer/Alias/EregToPregFixerTest.php
  tests/Fixer/Phpdoc/NoSuperfluousPhpdocTagsFixerTest.php
Labels: topic/tests

#8134 DX: check for duplicated test methods (as AutoReview test)
  .github/workflows/sca.yml
  composer.json
  dev-tools/check_duplicate_test_methods.php
  tests/AutoReview/ProjectCodeTest.php
Labels: topic/tests

#8139 DX: add more typehints for `class-string`
  dev-tools/phpstan/baseline.php
  tests/AutoReview/ProjectCodeTest.php
  tests/Console/ConfigurationResolverTest.php
  tests/Console/Output/Progress/ProgressOutputFactoryTest.php
  tests/Fixer/FunctionNotation/NativeFunctionInvocationFixerTest.php
  tests/Fixer/PhpUnit/PhpUnitTargetVersionTest.php
  tests/PregTest.php
Labels: kind/cleanup

#8138 DX: refactor `ProjectCodeTest::provideDataProviderMethodCases`
  tests/AutoReview/ProjectCodeTest.php
Labels: topic/tests

#8150 fix: `NoSuperfluousPhpdocTagsFixer` - fix "Undefined array key 0" error
  src/Fixer/Phpdoc/NoSuperfluousPhpdocTagsFixer.php
  tests/Fixer/Phpdoc/NoSuperfluousPhpdocTagsFixerTest.php
Labels: kind/bug
