Repository PHP-CS-Fixer/PHP-CS-Fixer, pull requests merged in 2025-05, with the labels that each got.

#8614 chore: cleanup `MultilineWhitespaceBeforeSemicolonsFixerTest`
  tests/Fixer/Semicolon/MultilineWhitespaceBeforeSemicolonsFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8617 chore: cleanup `PhpdocVarWithoutNameFixerTest`
  tests/Fixer/Phpdoc/PhpdocVarWithoutNameFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8618 chore: cleanup `FunctionToConstantFixerTest`
  tests/Fixer/LanguageConstruct/FunctionToConstantFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8621 chore: cleanup `DoctrineAnnotationArrayAssignmentFixerTest`
  tests/Fixer/DoctrineAnnotation/DoctrineAnnotationArrayAssignmentFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8623 chore: cleanup `DoctrineAnnotationBracesFixerTest`
  tests/Fixer/DoctrineAnnotation/DoctrineAnnotationBracesFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8624 chore: cleanup `DoctrineAnnotationSpacesFixerTest`
  tests/Fixer/DoctrineAnnotation/DoctrineAnnotationSpacesFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8625 chore: cleanup `SpaceAfterSemicolonFixerTest`
  tests/Fixer/Semicolon/SpaceAfterSemicolonFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8626 chore: cleanup `PhpdocNoPackageFixerTest`
  tests/Fixer/Phpdoc/PhpdocNoPackageFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8627 chore: cleanup `GeneralPhpdocTagRenameFixerTest`
  tests/Fixer/Phpdoc/GeneralPhpdocTagRenameFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8622 chore: lint yaml files
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/composite-actions/install-composer-deps/action.yml
  .github/composite-actions/setup-php-with-composer-deps/action.yml
  .github/composite-actions/setup-php/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/composer-lock.yml
  .github/workflows/docker.yml
  .github/workflows/issues_and_pull_requests.yml
  .github/workflows/markdown.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/self-approval.yml
  .github/workflows/sphinx.yml
  .yamllint.yml
  compose.override.dist.yaml
  compose.yaml
Labels: kind/cleanup

#8460 DX: trim array/yield keys
  tests/Fixer/Casing/ConstantCaseFixerTest.php
  tests/Fixer/ControlStructure/NoUnneededControlParenthesesFixerTest.php
  tests/Fixer/PhpUnit/PhpUnitConstructFixerTest.php
  tests/FixerDefinition/VersionSpecificationTest.php
Labels: kind/enhancement

#8636 chore: use `foreach` values
  src/Fixer/DoctrineAnnotation/DoctrineAnnotationBracesFixer.php
  src/Fixer/DoctrineAnnotation/DoctrineAnnotationSpacesFixer.php
  src/Fixer/Import/SingleImportPerStatementFixer.php
  src/Fixer/Phpdoc/PhpdocParamOrderFixer.php
  src/Fixer/Whitespace/SpacesInsideParenthesesFixer.php
  tests/Tokenizer/Transformer/SquareBraceTransformerTest.php
Labels: kind/cleanup

#8637 chore: PHPMD - cleanup `UnusedLocalVariable` for `foreach`
  dev-tools/composer.json
  dev-tools/composer.lock
  dev-tools/mess-detector/phpmd.xml
  src/Runner/Parallel/ProcessPool.php
  tests/AutoReview/FixerFactoryTest.php
  tests/Fixer/PhpUnit/PhpUnitStrictFixerTest.php
  tests/RuleSet/Sets/AbstractSetTestCase.php
  tests/Tokenizer/Analyzer/FunctionsAnalyzerTest.php
  tests/Tokenizer/TokensAnalyzerTest.php
Labels: kind/cleanup

#8638 chore: cleanup `YodaStyleFixerTest`
  tests/Fixer/ControlStructure/YodaStyleFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8640 chore: cleanup `StatementIndentationFixerTest`
  tests/Fixer/Whitespace/StatementIndentationFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8580 chore: cleanup `ClassDefinitionFixer`
  dev-tools/phpstan/baseline.php
  src/Fixer/ClassNotation/ClassDefinitionFixer.php
  tests/Fixer/ClassNotation/ClassDefinitionFixerTest.php
Labels: kind/cleanup

#8641 chore: cleanup `SpacesInsideParenthesesFixerTest`
  tests/Fixer/Whitespace/SpacesInsideParenthesesFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8644 chore: cleanup `SingleLineCommentStyleFixerTest`
  tests/Fixer/Comment/SingleLineCommentStyleFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8645 chore: cleanup `SingleImportPerStatementFixerTest`
  tests/Fixer/Import/SingleImportPerStatementFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8647 chore: cleanup `ReturnTypeDeclarationFixerTest`
  tests/Fixer/FunctionNotation/ReturnTypeDeclarationFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8648 chore: cleanup `ReturnAssignmentFixerTest`
  tests/Fixer/ReturnNotation/ReturnAssignmentFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8649 chore: cleanup `PhpUnitTestCaseStaticMethodCallsFixerTest`
  tests/Fixer/PhpUnit/PhpUnitTestCaseStaticMethodCallsFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8650 chore: cleanup `PhpUnitDedicateAssertFixerTest`
  tests/Fixer/PhpUnit/PhpUnitDedicateAssertFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8652 chore: cleanup `PhpdocTypesOrderFixerTest`
  tests/Fixer/Phpdoc/PhpdocTypesOrderFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8653 chore: cleanup `PhpdocTrimFixerTest`
  tests/Fixer/Phpdoc/PhpdocTrimFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8654 chore: cleanup `PhpdocSummaryFixerTest`
  tests/Fixer/Phpdoc/PhpdocSummaryFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8657 chore: cleanup `PhpdocSeparationFixerTest`
  tests/Fixer/Phpdoc/PhpdocSeparationFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8658 chore: cleanup `PhpdocReturnSelfReferenceFixerTest`
  tests/Fixer/Phpdoc/PhpdocReturnSelfReferenceFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8659 chore: cleanup `PhpdocParamOrderFixerTest`
  tests/Fixer/Phpdoc/PhpdocParamOrderFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8660 chore: cleanup `PhpdocOrderFixerTest`
  tests/Fixer/Phpdoc/PhpdocOrderFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8661 chore: cleanup `PhpdocOrderByValueFixerTest`
  tests/Fixer/Phpdoc/PhpdocOrderByValueFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8662 chore: cleanup `PhpdocNoEmptyReturnFixerTest`
  tests/Fixer/Phpdoc/PhpdocNoEmptyReturnFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8663 chore: cleanup `PhpdocAddMissingParamAnnotationFixerTest`
  tests/Fixer/Phpdoc/PhpdocAddMissingParamAnnotationFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8665 chore: cleanup `NoUnneededControlParenthesesFixerTest`
  tests/Fixer/ControlStructure/NoUnneededControlParenthesesFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8666 chore: cleanup `NoSpacesAroundOffsetFixerTest`
  tests/Fixer/Whitespace/NoSpacesAroundOffsetFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8667 chore: cleanup `NoEmptyStatementFixerTest`
  tests/Fixer/Semicolon/NoEmptyStatementFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8669 chore: cleanup `NoClosingTagFixerTest`
  tests/Fixer/PhpTag/NoClosingTagFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8671 chore: cleanup `NoBlankLinesAfterPhpdocFixerTest`
  tests/Fixer/Phpdoc/NoBlankLinesAfterPhpdocFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8672 chore: cleanup `NativeConstantInvocationFixerTest`
  tests/Fixer/ConstantNotation/NativeConstantInvocationFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8673 chore: cleanup `MethodArgumentSpaceFixerTest`
  tests/Fixer/FunctionNotation/MethodArgumentSpaceFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8674 chore: cleanup `ListSyntaxFixerTest`
  tests/Fixer/ListNotation/ListSyntaxFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8675 chore: cleanup `IndentationTypeFixerTest`
  tests/Fixer/Whitespace/IndentationTypeFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8676 chore: cleanup `IncrementStyleFixerTest`
  tests/Fixer/Operator/IncrementStyleFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8677 chore: cleanup `HeaderCommentFixerTest`
  tests/Fixer/Comment/HeaderCommentFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8678 chore: cleanup `HeaderCommentFixerTest` (restore `@requires` for PHP 8.1)
  tests/Fixer/Comment/HeaderCommentFixerTest.php
Labels: kind/cleanup, topic/tests

#8680 chore: cleanup `FunctionDeclarationFixerTest`
  tests/Fixer/FunctionNotation/FunctionDeclarationFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8681 chore: cleanup `EchoTagSyntaxFixerTest`
  tests/Fixer/PhpTag/EchoTagSyntaxFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8683 chore: cleanup `ConcatSpaceFixerTest`
  tests/Fixer/Operator/ConcatSpaceFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8684 chore: cleanup `ClassDefinitionFixerTest`
  tests/Fixer/ClassNotation/ClassDefinitionFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8685 chore: cleanup `BlankLineBeforeStatementFixerTest`
  tests/Fixer/Whitespace/BlankLineBeforeStatementFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8687 chore: cleanup `BinaryOperatorSpacesFixerTest`
  tests/Fixer/Operator/BinaryOperatorSpacesFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8688 chore: cleanup `AlignMultilineCommentFixerTest`
  tests/Fixer/Phpdoc/AlignMultilineCommentFixerTest.php
  tests/Test/AbstractFixerTestCase.php
Labels: kind/cleanup, topic/tests

#8689 chore: use `Preg` class everywhere
  dev-tools/phpstan/baseline.php
  tests/AbstractDoctrineAnnotationFixerTestCase.php
  tests/AutoReview/ProjectCodeTest.php
  tests/Differ/AbstractDifferTestCase.php
  tests/RuleSet/Sets/AbstractSetTestCase.php
  tests/Test/AbstractFixerTestCase.php
  tests/Test/AbstractIntegrationCaseFactory.php
  tests/Test/AbstractTransformerTestCase.php
Labels: kind/cleanup, topic/tests

#8691 fix: "min"/"max" in int generics must never be prefixed by backslash
  src/Fixer/Import/FullyQualifiedStrictTypesFixer.php
  tests/Fixer/Import/FullyQualifiedStrictTypesFixerTest.php
  tests/Fixtures/Integration/misc/fully_qualified_strict_types-leading_backslash_in_global_namespace.test
Labels: kind/bug

#8692 fix: "array" type must have no prefix to be fixable to "list"
  src/Fixer/Phpdoc/PhpdocListTypeFixer.php
  tests/Fixer/Phpdoc/PhpdocListTypeFixerTest.php
Labels: kind/bug

#8693 DX: fix data providers
  .github/workflows/ci.yml
  tests/DocBlock/LineTest.php
  tests/Fixer/LanguageConstruct/ClassKeywordRemoveFixerTest.php
  tests/Fixer/LanguageConstruct/SingleSpaceAfterConstructFixerTest.php
  tests/Fixer/Phpdoc/PhpdocNoUselessInheritdocFixerTest.php
  tests/Fixer/ReturnNotation/ReturnAssignmentFixerTest.php
  tests/RuleSet/RuleSetTest.php
  tests/Tokenizer/Analyzer/ControlCaseStructuresAnalyzerTest.php
Labels: kind/cleanup, topic/tests

#8694 chore: update `checkbashisms` to 2.25.12
  dev-tools/install.sh
Labels: topic/ci

#8720 chore: cleanup `Preg` issues
  dev-tools/phpstan/baseline.php
  src/Preg.php
Labels: kind/cleanup

#8721 chore: update PHPUnit config
  .github/workflows/ci.yml
  phpunit.xml.dist
Labels: kind/cleanup
